node_modules
dist
.next
build
*.log
.env
.env.local
.env.*.local
uploads/*
!uploads/.gitkeep

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
server/prisma/*.db
server/prisma/*.db-journal